<div ng-include="'views/inc/employee_nav.html'"></div>
<div class="content">
  <h1>Cancelled Orders</h1>

  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" ng-model = "search" aria-label="Search"
    aria-describedby="search-addon" />
  </div>


    <table border="1" id="table">
      <tr>
        <th>Id</th>
        <th>Customer Name</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
      <tr ng-repeat="o in EmployeeCanceledOrder | filter:search">
          <td>{{o.Id}}</td>
          <td>{{o.CustomerName}}</td>
          <td>{{o.Amount}}</td>
          <td>{{o.Status}}</td>
      </tr>
    </table>
</div>