<div ng-include="'views/inc/shop_nav.html'"></div>
<div class="content">

  <h1>Book Edit</h1>

  <style>
    input.ng-invalid.ng-dirty { background-color: lightpink; }
    input.ng-valid { background-color: lightgreen; }
    span.error { color: red; font-weight: bold; }
  </style>

  <div class="registration-form" ng-submit = "submit()">
    <form name="editbookForm" novalidate>

      <div class="form-group">
        <input type="text" class="form-control item" ng-model = "Title" placeholder="Title" required>
        <span class="error" ng-show="editbookForm.Title.$dirty && editbookForm.Title.$error.required && "></span>
      </div>

      <div class="form-group">
        <input type="text" class="form-control item" ng-model = "Author" placeholder="Author" required>
        <span class="error" ng-show="editbookForm.Author.$dirty && editbookForm.Author.$error.required && "></span>
      </div>

      <div class="form-group">
        <input type="text" class="form-control item" ng-model = "Publisher" placeholder="Publisher" required>
        <span class="error" ng-show="editbookForm.Publisher.$dirty && editbookForm.Publisher.$error.required && "></span>
      </div>

      <div class="form-group">
        <input type="text" class="form-control item" ng-model = "Edition" placeholder="Edition" required>
        <span class="error" ng-show="editbookForm.Edition.$dirty && editbookForm.Edition.$error.required && "></span>
      </div>

      <div class="form-group">
        <input type="text" class="form-control item" ng-model = "Price" placeholder="Price" required>
        <span class="error" ng-show="editbookForm.Price.$dirty && editbookForm.Price.$error.required && "></span>
      </div>
      
      <div class="form-group">
        <input type="text" class="form-control item"  ng-model = "Quantity" placeholder="Quantity" required>
        <span class="error" ng-show="editbookForm.Quantity.$dirty && editbookForm.Quantity.$error.required && "></span>
      </div>

      <div class="form-group">
        <input class="btn btn-block create-account" type="submit" value="Edit" ng-disabled="editbookForm.$invalid"> 
      </div>

      
  </form>
</div>