
body{
    background-color: #456ec0;
}

h2{
    text-align:center;
    font-weight:bold;
}

h1{
    text-align:center;
    font-weight:bold;
}

h3{
    text-align:center;
    font-weight:bold;
}

.input-group{
    float: right;
    margin-bottom: 10px;
}

.row{
    margin-top: 100px;;
}

.content{
    width:90%;
    margin: auto;
}

.PDFDownload{
    float: left;
  }

/*table start*/

#table {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    color: #34495e;
    border-radius: 0px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 0px 30px black;
    margin-top: 3vh;
}

#table td, #table th {
    padding: 10px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:nth-child(odd) {
    background-color: #cdcfd0;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2e4154;
    color: white;
}

#table tr td a {
    color: #34495e;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

#table tr td a:hover {
    color: red;
}
/*table end*/


/*login start*/

.login-form {
    width: 400px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(0,0,0,.7);
    color: #34495e;
    margin-left: 32%;
    margin-top: 200px;
    margin-bottom: 250px;
    color: dodgerblue;
}

.login-form i{
    display: block;
    float: left;
}

.login-form  label {
    display:block;
  font-weight: bold;
}

.login-form  input {
    display: block;
    float: right;
    width: 88%;
    border: 1px solid #000;
    padding:5px;
    box-sizing: border-box;
    height: 35px;
}

.login-form #submit{
    width: 100%;
    padding: 5px 80px;
    background-color: #eb7d4b;
    color: #FFF;
    text-transform: uppercase; 
    font-weight: 900;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.login-form a{
    color: white !important;
}

.login-form .icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  text-align: center;
  width: 35px;
  height: 35px;
}
.login-wrapper h1{
  text-align: center;
  color: dodgerblue;
}

/*login end*/


/*menu*/


.mid {
	position: relative;
	width: 90%;
	margin: auto;
}

.menu {
	background-color: #34495e;
}

.menue ul{
	margin-left: auto;
	margin-right: auto;
}

.menu ul li {

	list-style:none;
	display: inline-block;
	position: relative;
}

.menu ul li a{
	text-align: center;
	text-decoration: none;
	color: #FFF;
	padding: 20px 28px;
	display: block;
	border-bottom: 3px solid red;
}

.menu ul li a:hover {
	background-color: #2c3e50;
	border-bottom: 3px solid red;
}

.menu ul li  ul li {
	display: block;
	background-color: #34495e;
	margin-top: 3px;
	transition: .4s;
}

.menu ul li  ul  {
	position: absolute;
	top: 100%;
	left: 0px;
	width: 200px;
	display: none;
}

.menu ul li:hover ul {
	display: block;
}

.menu ul li  ul li:hover {
	transform: scale(1.5);
	z-index: 999;
}	


/* Menu End */






/* form */


.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

/* Form end */