<div ng-include="'views/inc/general_nav.html'"></div>

<h2>Contact Us</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <address>
                Md. Nabobi Hasan<br />
                18-38712-3<br />
                <abbr title="Phone">P:</abbr>
                01757314***
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:shatin.hasan73@gmail.com">shatin.hasan73@gmail.com</a>
            </address>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <address>
                Mufrad Mustavi<br />
                18-38776-3<br />
                <abbr title="Phone">P:</abbr>
                01720222***
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:mufrad12@gmail.com">mufrad12@gmail.com</a><br />
            </address>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <address>
                Md. Abu Jubaer<br />
                18-38784-3<br />
                <abbr title="Phone">P:</abbr>
                01969842***
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:abujubaer90@gmail.com">abujubaer90@gmail.com</a><br />
            </address>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <address>
                Md. Tanvir Shahriar<br />
                18-38787-3<br />
                <abbr title="Phone">P:</abbr>
                01745976***
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:tanvirsiam1101@gmail.com">tanvirsiam1101@gmail.com</a><br />
            </address>
        </div>
    </div>
</div>