<div ng-include="'views/inc/general_nav.html'"></div>

<div class="content">

  <h1>Book Lists</h1>
 
  <div class="input-group">
    <input type="search" class="form-control rounded" placeholder="Search" ng-model = "search" aria-label="Search"
    aria-describedby="search-addon" />
  </div>
  
    <table border="1" id="table">
      <tr>
        <th>Id</th>
        <th>Book Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Edition</th>
        <th>Price</th>
        <th>Shop Name</th>
        <th>Quantity</th>
        <th>Acction</th>
      </tr>

      <tr ng-repeat="p in AllBooks | filter:search">
          <td>{{p.Id}}</td>
          <td>{{p.Title}}</td>
          <td>{{p.Author}}</td>
          <td>{{p.Publisher}}</td>
          <td>{{p.Edition}}</td>
          <td>{{p.Price}}</td>
          <td>{{p.ShopName}}</td>
          <td>{{p.Quantity}}</td> 
          <td>
            <a style="color:white" class="btn btn-success" href="#!/Ketabkhana/Login"> Add To Cart</a>
          </td>
      </tr>
    </table>
    <br>
    <footer>
      <p><b>© 2021 - Ketabkhana </b></p>
  </footer>
</div>