<div ng-include="'views/inc/general_nav.html'"></div>



<div class="main">
    <div class="containers">
        <div class="signup-content">
            <div class="signup-img">
                <img src="/content/reg.jpg" alt="">
            </div>
            <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                <h1><center>Welcome To Registration Form </center></h1>
                <br>
                    <div class="signup-form">
                        <div class="form-group">
                            <div class="form-select">
                                <div class="reg">
                                 <label for="servicep">
                                    <h3> Choose Option :</h3>
                                </label>
                                
                                    <div class="type">
                                        <a href="#!/Ketabkhana/SignUp/CustomerRegistration"><i class="fas fa-user"></i><span>Customer Registration</span></a> <br>
                                    </div>
                                    <br>
                                    <div class="type">
                                         <a href="#!/Ketabkhana/SignUp/ShopRegistration"><i class="fas fa-bus"></i><span>Shop Registration</span></a><br>
                                    </div>
                                    <br>
                                </div>
                            </div>
                         </div>
                    </div>
            </div>
        </div>
    </div>
</div>
