<div ng-include="'views/inc/Admin_nav.html'"></div>

<div class="content">

  <div class="tblSalary">

    <h1>All Salary</h1>

    <div class="PDFDownload">
      <input type="button" class="btn btn-success" value="Download" ng-click="Export()" />
    </div><br><br>  

    <a class="btn btn-info" href="#!Admin/PendingSalary">Pending Salary</a>
    
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search" ng-model = "search" aria-label="Search"
      aria-describedby="search-addon" />
    </div>

      <table border="1" id="table">
        <tr>
          <th>Id</th>
          <th>Employee Username</th>
          <th>Salary</th>
          <th>Bonus</th>
        </tr>
        <tr ng-repeat="s in AllSalary | filter:search">
            <td>{{s.Id}}</td>
            <td>{{s.EmployeeUsername}}</td>
            <td>{{s.Salary1}}</td>
            <td>{{s.Bonus}}</td>
        </tr>
      </table>
  </div>
</div>
  