<div ng-include="'views/inc/Admin_nav.html'"></div>

<style>
    input.ng-invalid.ng-dirty { background-color: lightpink; }
    input.ng-valid { background-color: lightgreen; }
    span.error { color: red; font-weight: bold; }
</style>

<div class="content">

  <h1>Profile</h1>

  <div class="registration-form" ng-submit = "submit()">

    <form name="profileForm" novalidate>

        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control item" ng-model = "FirstName" placeholder="First Name" required>
            <span class="error" ng-show="profileForm.FirstName.$dirty && profileForm.FirstName.$error.required">This is a required field</span>
        </div>
      
        <div class="form-group">
            <input type="text" class="form-control item" ng-model = "LastName" placeholder="Last Name" required>
            <span class="error" ng-show="profileForm.LastName.$dirty && profileForm.LastName.$error.required">This is a required field</span>
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control item" ng-model = "Gender" placeholder="Gender" required>
            <span class="error" ng-show="profileForm.Gender.$dirty && profileForm.Gender.$error.required">This is a required field</span>
        </div>
        
        <div class="form-group">
            <input type="date" class="form-control item" ng-model = "Dob" required>
            <span class="error" ng-show="profileForm.Dob.$dirty && profileForm.Dob.$error.required">This is a required field</span>
        </div>
        
        <div class="form-group">
            <input type="email" class="form-control item" ng-model = "Email" placeholder="Email" required>
            <span class="error" ng-show="profileForm.Email.$dirty && profileForm.Email.$error.required">This is a required field</span>
            <span class="error" ng-show="profileForm.Email.$dirty && profileForm.Email.$error.Email">Email is invalid</span>
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control item" ng-model = "Username" placeholder="Username" disabled required>
            <span class="error" ng-show="profileForm.Username.$dirty && profileForm.Username.$error.required">This is a required field</span>
        </div>
        
        <div class="form-group">
            <input type="password" class="form-control item" ng-model = "Password" placeholder="Password" required>
            <span class="error" ng-show="profileForm.Password.$dirty && profileForm.Password.$error.required">This is a required field</span>
        </div>

        <div class="form-group">
          <input class="btn btn-block create-account" type="submit" value="Edit" ng-disabled="profileForm.$invalid"> 
        </div>

        <div class="form-group">
          <a class="btn btn-block create-account" style="background-color: rgb(221, 57, 57);" href="#!Admin/DeleteProfile">Delete Profile</a>
        </div>
        
        
    </form>


</div>
